SHOPEE_USER=username_kamu
SHOPEE_SHOP_ID=1234567890
SHOPEE_ITEM_ID=9876543210
SHOPEE_MODEL_ID=1122334455
SHOPEE_TARGET_TS=1773205200
SHOPEE_PRODUCT_URL=https://shopee.co.id/product/1234567890/9876543210
SHOPEE_QUANTITY=1
SHOPEE_ADDRESS_ID=
SHOPEE_PAYMENT_ID=
